<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>添加用户</h1>
    <form method="POST" action="/manager_add_user/">
        <p>name：<input type="text" name="name"/></p>
        <p>password：<input type="text" name="password"/></p>
        <p>sex：<input type="text" name="sex"/></p>
        <p>point：<input type="text" name="point"/></p>
        <p>juris：<input type="text" name="juris"/></p>
        <p>status：<input type="text" name="status"/></p>
        <p>head_portrait：<input type="text" name="head_portrait"/></p>
        <input type="submit" value="提交"/>
    </form>
</body>
</html>